@font-face
  font:
    family: "DMSans"
    weight: 900
    style: normal
  src: url("../../fonts/DMSans/DMSans-Bold.woff2") format("woff2"), url("../../fonts/DMSans/DMSans-Bold.woff") format("woff"), url("../../fonts/DMSans/DMSans-Bold.eot") format("eot")
  font-display: swap

@font-face
  font:
    family: "DMSans"
    weight: 500
    style: normal
  src: url("../../fonts/DMSans/DMSans-Medium.woff2") format("woff2"), url("../../fonts/DMSans/DMSans-Medium.woff") format("woff"), url("../../fonts/DMSans/DMSans-Medium.eot") format("eot")
  font-display: swap

@font-face
  font:
    family: "DMSans"
    weight: 400
    style: normal
  src: url("../../fonts/DMSans/DMSans-Regular.woff2") format("woff2"), url("../../fonts/DMSans/DMSans-Regular.woff") format("woff"), url("../../fonts/DMSans/DMSans-Regular.eot") format("eot")
  font-display: swap

@font-face
  font:
    family: "Proxima Nova"
    weight: 700
    style: normal
  src: url("../../fonts/ProximaNova/ProximaNova-Bold.woff2") format("woff2"), url("../../fonts/ProximaNova/ProximaNova-Bold.woff") format("woff"), url("../../fonts/ProximaNova/ProximaNova-Bold.eot") format("eot")
  font-display: swap

@font-face
  font:
    family: "Proxima Nova"
    weight: 400
    style: normal
  src: url("../../fonts/ProximaNova/ProximaNova-Regular.woff2") format("woff2"), url("../../fonts/ProximaNova/ProximaNova-Regular.woff") format("woff"), url("../../fonts/ProximaNova/ProximaNova-Regular.eot") format("eot")
  font-display: swap
